@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Azeret Mono;
  * {
    padding: 0;
    margin: 0;
    font-family: Azeret Mono;
  } /* shared css */
  .text_align_center {
    text-align: center;
  } /* header style start */
  header {
  }
  .header_content {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
  }
  .logo {
  }
  .header_btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;
    font-weight: 700;
    transition: 0.5s all ease-in-out;
  }
  .header_btn: hover {
    background-color: black;
    color: white;
  } /* header style end */ /* banner style start */
  .banner {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    text-align: center;
  }
  .banner_content {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0px;
  }
  .banner_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-top: 40px;
  }
  .banner_title span {
    font-weight: 800;
    color: #47caff;
  }
  .banner_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    color: #0d1321;
  }
  .banner_btn {
    width: 160px;
    height: 50px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border: transparent;
    border-radius: 5px;
    margin-top: 30px;
    transition: 0.5s all ease-in-out;
  }
  .banner_btn: hover {
    background-color: white;
    color: #0d1321;
    border: 1px solid black;
  } /* banner style end */ /* why web development style start */
  .web_dev {
  }
  .web_dev_content {
    width: 1400px;
    height: 1650px;
    background: #f9f9f9;
    margin: 75px auto;
    border-radius: 20px;
    padding: 50px 0px;
  }
  .web_title {
    font-size: 32px;
    font-weight: 800;
    margin: 0 0 24px 0;
  }
  .web_dev_description {
    font-size: 16px;
    font-weight: 300;
  }
  .sub_content {
    width: 950px;
    height: 350px;
    margin: 30px auto;
    background: #ffffff;
  }
  .sub_content_text_item {
  }
  .sub_content_title {
  }
  .sub_content_description {
  }
  .sub_content_btn {
  }
  .sub_content_img {
  } /* why web development style end */
}

/* shared css */
.text_align_center {
  text-align: center;
}

/* header style start */
header {
}

.header_content {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
}

.logo {
}
.header_btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  padding: 15px 30px;
  background-color: white;
  font-weight: 700;
  transition: 0.5s all ease-in-out;
}

.header_btn:hover {
  background-color: black;
  color: white;
}
/* header style end */

/* banner style start */
.banner {
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  text-align: center;
}

.banner_content {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0px;
}
.banner_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  margin-top: 40px;
}
.banner_title span {
  font-weight: 800;
  color: #47caff;
}
.banner_description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  color: #0d1321;
}
.banner_btn {
  width: 160px;
  height: 50px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border: transparent;
  border-radius: 5px;
  margin-top: 30px;
  transition: 0.5s all ease-in-out;
}

.banner_btn:hover {
  background-color: white;
  color: #0d1321;
  border: 1px solid black;
}

/* banner style end */

/* why web development style start */
.web_dev {
}
.web_dev_content {
  width: 1325px;

  height: 1575px;

  background: #f9f9f9;

  margin: 75px auto;

  border-radius: 20px;

  padding: 50px 0px;
}
.web_title {
  font-size: 32px;

  font-weight: 800;

  margin: 0 0 24px 0;
}
.web_dev_description {
  font-size: 16px;

  font-weight: 300;
}
.sub_content {
  width: 950px;

  height: 350px;

  background: #ffffff;

  display: flex;

  align-items: center;

  justify-content: space-between;

  margin: 50px auto;

  padding: 47px;

  border-radius: 20px;
}
.sub_content_text_item {
  /* width: 450px; */
}
.sub_content_title {
  font-size: 24px;

  font-weight: 700;

  margin-bottom: 20px;

  width: 450px;
}
.sub_content_description {
  width: 460px;

  font-size: 16px;

  font-weight: 400;

  line-height: 22px;

  margin-top: 30px;
}
.sub_content_btn {
  width: 120px;

  height: 40px;

  margin-top: 25px;

  background: white;

  border: 0.5px solid black;
  cursor: pointer;
}
.sub_content_img {
}

/* why web development style end */
